<% content_for :title, "Home" %>

<style>
	.board {
		/*
			background-color: #222;
			border: 1px solid #111;
		*/
		border-radius: 1em;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(3, 1fr);
		/* Account for borders - 1px border x 2 sides x 3 rows */
		height: calc(3 * 6em + 6px);
	}

	.cell {
		background-color: #999;
		border: 1px solid #333;
		border-radius: 1em;
		height: 6em;
	}

	.cell.selected.p0 {
		background-color: #afa;
	}

	.cell.selected.p1 {
		background-color: #aaf;
	}

	.board.started .cell:hover:not(.selected) {
		background-color: rgba(255, 255, 128, .5);
		cursor: pointer;
	}

	.container {

	}

	.controls {

	}

	.container h1,
	.scoreboard h3,
	.controls h3 {
		margin: 1em auto;
		width: 5em;
	}

	.row {
		
	}

	.scoreboard {
		background-color: #acc;
		border: 1px solid #333;
		border-radius: 1em;
		margin-top: 3em;
		min-height: 15em;
	}
</style>

<section class="container">
	<h1>Tic Tac Toe</h1>

	<article id="board" class="board not-started">
	<% (1..3).each do | rowNum | %>
		<div class="row row<%= rowNum %>">
		<% (1..3).each do | colNum | %>
			<% cellNum = 3 * (rowNum - 1) + colNum %>
			<div id="c<%= cellNum %>" class="cell cell<%= cellNum %>" onclick="handleCellClick(this)">
			</div>
		<% end %>
		</div>
	<% end %>
	</article>
	<article id="controls" class="controls">
		<h3>Controls</h3>
		<div>
			<p class="status">Status - N/A</p>
			<p class="turns"></p>
			<p class="ended"></p>
			<button onclick="startNewGame()">New Game</button>
		</div>
	</article>
	<article id="scoreboard" class="scoreboard">
		<h3>Scoreboard</h3>
	</article>
</section>

<script>
	// wait for window to complete load; arrow func requires JS >= es2015 in browser
	// window.onload = () => { }

	class Game {
		constructor() {
			console.info('[ Game | ctor ] constructing new Game instance')

			this.currentPlayer = -1
			this.hasEnded = false
			this.totalTurns = -1
			this.winner = -1
		}

		/**
		* This method advances the game turn to the next player
		*/
		advanceTurn(cells) {
			console.info(`[ Game | advanceTurn ] totalTurns=${this.totalTurns} currentPlayer=${this.currentPlayer}`)

			if (this.hasEnded || this.isAtMaxTurns()) {
				console.info('[ Game | advanceTurn ] game is at max turns or has ended, skipping turn advance...')

				updateStatus()

				return
			}

			currentGame.checkForWin(cells || [])

			this.totalTurns++

			// advance to next turn, ensure value is either 0 or 1
			this.currentPlayer = (this.currentPlayer + 1) % 2

			console.info(`[ Game | advanceTurn ] it is now p${this.currentPlayer}\'s turn`)

			updateStatus()
		}

		/**
		* This method checks the optionally provided cells parameter (an HTMLCollection or array) for win conditions
		*/
		checkForWin(cells) {
			console.info('[ Game | checkForWin ] cells=', cells)

			cells = Array.from(cells)

			// if cells are not provided, assume no win
			if (cells.length === 0) {
				console.info('[ Game | checkForWin ] no cells to check, returning false...')

				return false
			}

			// exhaustive list of all possible wins
			const colWins = [
				[1, 4, 7],
				[2, 5, 8],
				[3, 6, 9],
			]
			const rowWins = [
				[1, 2, 3],
				[4, 5, 6],
				[7, 8, 9],
			]
			const diagWins = [
				[1, 5, 9],
				[3, 5, 7],
			]
			const allWins = colWins.concat(rowWins).concat(diagWins)

			// all selected cells
			const selected = cells.filter((cell) => {
				return cell.classList.contains('selected')
			})
			const player0Cells = selected.filter((cell) => {
				return cell.classList.contains('p0')
			})
			const player1Cells = selected.filter((cell) => {
				return cell.classList.contains('p1')
			})

			// cannot win without three turns for a single player
			if (player0Cells.length < 3 && player1Cells.length < 3) {
				console.info('[ Game | checkForWin ] not enough selected cells for a win, returning false...')

				return false
			}

			const p0c = player0Cells.map(cell => {
				return parseInt(
					cell.className
						.split(' ')
						.filter(c => c !== 'cell' && c !== 'selected' && c !== 'p0')
						.map(c => c.replace('cell', ''))
				)
			})
			const p1c = player1Cells.map(cell => {
				return parseInt(
					cell.className
						.split(' ')
						.filter(c => c !== 'cell' && c !== 'selected' && c !== 'p1')
						.map(cn => cn.replace('cell', ''))
				)
			})

			const winConditions = allWins.filter((winConfig) => {
				if (winConfig.every(w => p0c.includes(w))) {
					this.winner = 0

					return true
				}

				if (winConfig.every(w => p1c.includes(w))) {
					this.winner = 1

					return true
				}

				return false
			})

			this.hasEnded = winConditions.length > 0

			return this.hasEnded
		}

		/**
		* This method returns whether the game is at or beyond the maximum possible turn count
		*/
		isAtMaxTurns() {
			console.info('[ Game | isAtMaxTurns ] ')

			this.hasEnded = this.totalTurns >= 8

			return this.hasEnded
		}

		/**
		* This method begins the game and advances to the first turn; it can only meaningfully be called once -
		* after the first invocation, this method will bail early with a console warning
		*/
		startGame() {
			if (this.currentPlayer !== -1) {
				console.warn('[ Game | startGame ] cannot start a game already in progress! bailing...')
				return
			}

			console.info('[ Game | startGame ] starting game')

			this.advanceTurn()
		}
	}

	let currentGame

	/**
	* This function returns a friendly display value for game status
	*/
	function formatStatus(player) {
		console.info('[ formatStatus ]')

		switch (player) {
			case 0:
			case 1:
				return `It is P${player}'s turn`
			case -1:
			default:
				return 'N/A'
		}
	}

	/**
	* This function performs a general UI reset, creates a new game, and starts it
	*/
	function startNewGame() {
		console.info('[ startNewGame ]')

		const board = document.getElementById('board')
		const cells = board.getElementsByClassName('cell')

		board.classList.remove('ended', 'not-started', 'started')
		board.classList.add('not-started')

		Array.from(cells).forEach(cell => {
			cell.classList.remove('p0', 'p1', 'selected')
		})

		currentGame = new Game()
		currentGame.startGame()
	}

	/**
	* This function is invoked when a cell is clicked; it contains move validation logic
	*/
	function handleCellClick(cell) {
		console.info('[ handleCellClick ]')

		if (!currentGame) {
			return
		}

		const player = currentGame.currentPlayer

		if (currentGame.hasEnded || player === -1 || cell.classList.contains('selected')) {
			return
		}

		cell.removeEventListener('click', handleCellClick)
		cell.classList.add('selected', `p${player}`)

		const board = document.getElementById('board')
		const cells = board.getElementsByClassName('cell')

		currentGame.advanceTurn(cells)
	}

	/**
	* This function updates the DOM to reflect a new game status (CSS classes on the board, event handlers, etc.)
	*/
	function updateStatus() {
		console.info('[ updateStatus ]')

		const ctrl = document.getElementById('controls')
		const endedLabel = ctrl.getElementsByClassName('ended')[0]
		const status = ctrl.getElementsByClassName('status')[0]
		const totalTurnsLabel = ctrl.getElementsByClassName('turns')[0]
		const player = currentGame.currentPlayer

		console.info(`[ updateStatus ] turns=${currentGame.totalTurns} player=${player}`)

		status.textContent = `Status - ${formatStatus(player)}`
		totalTurnsLabel.textContent = `Turns taken - ${currentGame.totalTurns}`

		const board = document.getElementById('board')

		if (currentGame.hasEnded) {
			board.classList.replace('started', 'ended')

			endedLabel.textContent = `Game Over - Winner is P${currentGame.winner}`
		} else {
			board.classList.replace('not-started', 'started')
		}
	}
</script>
